doc/build
doc/source/submodules
.coverage
coverage.xml
.tox
*.pyc
*.swp
.ipynb_checkpoints/
dist/
build/
connectome_manipulator.egg-info
__pycache__
examples/working_dir

# Ignore all .h5 files under examples
examples/**/*.h5

# Unignore specific folder (replace specific/folder with your folder path)
!examples/circuits/**/*.h5

# ignore dev files
**/*.dev.*

# ignore log files under examples
examples/**/logs/*.txt