# Description: BBP-WORKFLOW config to register circuit
# Author: Christoph Pokorny
# Date: $DATE

[DEFAULT]
# Knowledge Graph project where data will be persisted
# Staging instance (sandbox project)
kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
kg-org: bbp_test
kg-proj: christoph
# OR Production instance of Nexus
# kg-proj: somatosensorycortex

# Circuit information
brain-region: {"url": "", "label": ""}
species: {"url": "", "label": ""}
strain: {"url": "", "label": ""}

[RegisterDetailedCircuit]
name: $CIRCUIT_NAME
description: $CIRCUIT_DESCRIPTION
circuit-type: $CIRCUIT_TYPE
circuit-config-path: $CIRCUIT_CONFIG


# HOW TO RUN:
# bbp-workflow launch --follow --config workflows/$FILE_NAME bbp_workflow.circuit.task RegisterDetailedCircuit
